<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */ 
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="paysolution"> 

                    <group id="payso_bill" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Bill Payment</label>
                        <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/payso_bill/active</config_path>
                        </field>
                        <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Title</label>
                            <config_path>payment/payso_bill/title</config_path>
                        </field>
                        <field id="min_order_total" translate="label" type="text" sortOrder="56" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Minimum Order Total</label>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <config_path>payment/payso_bill/min_order_total</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Sort Order</label>
                            <frontend_class>validate-number</frontend_class>
                            <config_path>payment/payso_bill/sort_order</config_path>
                        </field>
                    </group>
                              
            </group>
        </section>
    </system>
</config>
