<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="checkout_onepage_controller_success_action_sendmail" instance="PaySolutions\PsPayments\Observer\SendMailOnOrderSuccess" />
    </event>
    <event name="order_cancel_after">
        <observer name="order_cancel_after_sendmail" instance="PaySolutions\PsPayments\Observer\SendMailOnOrderCancel" />
    </event>
</config>