<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 *
 * เซ็ตค่า Default ลงฟอร์มในหน้าตั้งค่า
 * Layout มาจาก adminhtml/system.xml
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <kbankonlinepayment>
                <production_status>0</production_status> 
                  <api_url_sandbox>https://dev-kpaymentgateway-services.kasikornbank.com</api_url_sandbox>  
                  <api_url_js_sandbox>https://dev-kpaymentgateway.kasikornbank.com/ui/v2/kpayment.min.js</api_url_js_sandbox>    
                  <api_url_production>https://kpaymentgateway-services.kasikornbank.com</api_url_production>    
                  <api_url_js_production>https://kpaymentgateway.kasikornbank.com/ui/v2/kpayment.min.js</api_url_js_production>    
                <model>PaySolutions\KbankOnlinePayment\Model\KbankOnlinePayment</model>
                <group>offline</group>
            </kbankonlinepayment>
            <!-- payment-config -->

        </payment>
    </default>
</config>
