<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 *
 * เซ็ตค่า Default ลงฟอร์มในหน้าตั้งค่า
 * Layout มาจาก adminhtml/system.xml
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <csp>
            <mode>
                <storefront>
                    <report_only>1</report_only>
                </storefront>
                <admin>
                    <report_only>1</report_only>
                </admin>
            </mode>
        </csp>
        <payment>
            <payso_card>
                <active>1</active>
                <title>Credit Card</title>
                <model>PaySolutions\CraditCard\Model\Payment\PaysoPayment</model>
                <group>offline</group>
            </payso_card>
            <!-- payment-config -->

        </payment>
    </default>
</config>
