<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <img style="height: 50px; padding-right:10px" data-bind="attr: { src: require.toUrl('PaySolutions_IBanking/images/ibanking.png') }" />
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <form id="cardtype_form" class="form form-mpsaisa-number" data-role="cardtype_form">
            <fieldset class="fieldset payment method" data-bind='attr: {id: "payment_form_" + getCode()}'>
                <div class="field field-number required">
                    <div class="control">
                        <div class="name-info">
                            <div style="padding: 10px">
                                <input type="radio" name="banktype" class="radio" id="ibanking_kbank" value="ibanking_kbank" checked="checked">
                                <label for="ibanking_kbank">
                                    <img style="height: 30px;" data-bind="attr: { src: require.toUrl('PaySolutions_IBanking/images/ibanking_kbank.png') }" />
                                </label>
                            </div>
                            <div style="padding: 10px">
                                <input type="radio" name="banktype" class="radio" id="ibanking_scb" value="ibanking_scb" checked="checked">
                                <label for="ibanking_scb">
                                    <img style="height: 30px;" data-bind="attr: { src: require.toUrl('PaySolutions_IBanking/images/ibanking_scb.png') }" />
                                </label>
                            </div>
                            <div style="padding: 10px">
                                <input type="radio" name="banktype" class="radio" id="ibanking_ktb" value="ibanking_ktb" checked="checked">
                                <label for="ibanking_ktb">
                                    <img style="height: 30px;" data-bind="attr: { src: require.toUrl('PaySolutions_IBanking/images/ibanking_ktb.png') }" />
                                </label>
                            </div>
                            <div style="padding: 10px">
                                <input type="radio" name="banktype" class="radio" id="ibanking_bay" value="ibanking_bay" checked="checked">
                                <label for="ibanking_bay">
                                    <img style="height: 30px;" data-bind="attr: { src: require.toUrl('PaySolutions_IBanking/images/ibanking_bay.png') }" />
                                </label>
                            </div>
                            <div style="padding: 10px">
                                <input type="radio" name="banktype" class="radio" id="ibanking_bbl" value="ibanking_bbl" checked="checked">
                                <label for="ibanking_bbl">
                                    <img style="height: 30px;" data-bind="attr: { src: require.toUrl('PaySolutions_IBanking/images/ibanking_bbl.png') }" />
                                </label>
                            </div>
                            <div style="padding: 10px">
                                <input type="radio" name="banktype" class="radio" id="ibanking_ttb" value="ibanking_ttb" checked="checked">
                                <label for="ibanking_ttb">
                                    <img style="height: 30px;" data-bind="attr: { src: require.toUrl('PaySolutions_IBanking/images/ibanking_ttb.png') }" />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <!--
            ibanking	Not select specific internet banking
            ibanking_kbank	Internet Banking - Kasikorn Bank
            ibanking_scb	Internet Banking - SCB Bank
            ibanking_ktb	Internet Banking - Krungthai Bank
            ibanking_bay	Internet Banking - Krungsri Bank
            ibanking_bbl	Internet Banking - Bangkok Bank
            ibanking_ttb	Internet Banking - TTB Bank
        -->

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowed()},
                        enable: (getCode() == isChecked())
                        "
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
