<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <custompayment>
                <active>1</active>
                <model>PaySolutions\OfflinePayments\Model\Gateways\CustomPayment</model>
                <title>Cradit Card</title>
                <min_order_total>0</min_order_total>
                <group>offline</group>
            </custompayment>
        </payment>
    </default>
</config>