<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="paysolution"> 

                    <group id="custompayment" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Custom Payment Option</label>
                        <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1"
                            showInStore="1">
                            <label>Title</label>
                        </field>
                        <field id="active" translate="label comment" sortOrder="21" type="select" showInDefault="1"
                            showInWebsite="1" showInStore="0">
                            <label>Enable</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="store_views" translate="label" sortOrder="22" type="multiselect" showInDefault="1"
                            showInStore="1" showInWebsite="1">
                            <label>Enabled for store views</label>
                            <source_model>PaySolutions\OfflinePayments\Model\Config\Source\StoreViews</source_model>
                        </field>
                        <field id="min_order_total" translate="label" type="text" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Minimum Order Total</label>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <config_path>payment/payso_card/min_order_total</config_path>
                        </field>
                        <field id="sort_order" translate="label" type="text" sortOrder="24" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Sort Order</label>
                            <frontend_class>validate-number</frontend_class>
                        </field>
                    </group>

            </group>
        </section>
    </system>
</config>
